<mat-card appearance="raised">
    <mat-card-header>
        <mat-card-title>Empréstimos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef> Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="livro">
                <th mat-header-cell *matHeaderCellDef> Livro </th>
                <td mat-cell *matCellDef="let element"> {{element.livro.titulo}} </td>
            </ng-container>

            <ng-container matColumnDef="dhEmprestimo">
                <th mat-header-cell *matHeaderCellDef> Data de Emprestimo </th>
                <td mat-cell *matCellDef="let element"> {{ element.dhEmprestimo | date: 'dd/MM/yyyy HH:mm' }} </td>
            </ng-container>

            <ng-container matColumnDef="dhDevolucao">
                <th mat-header-cell *matHeaderCellDef> Data de Devolução </th>
                <td mat-cell *matCellDef="let element"> {{ element.dhDevolucao | date: 'dd/MM/yyyy HH:mm' }} </td>
            </ng-container>

            <ng-container matColumnDef="opcoes">
                <th mat-header-cell *matHeaderCellDef> Opções </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" class="space-between-buttons" (click)="devolver(element)" [disabled]="element.statusEmprestimo == 'DISPONIVEL'">Devolver</button>                
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>